{% extends 'base.html.twig' %}

{% block body %}

<div class="my-5">
<h1>Logowanie</h1>

<form class="px-4 py-3" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <label for="inputEmail">E-mail</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Hasło</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Zapamiętaj mnie
            </label>
        </div>

    <button class="btn btn-secondary" type="submit">
        Zaloguj
    </button>
</form>
<div class="pt-4 border-top">
    <h3>Nie posiadasz konta?</h3>
    <a href= "{{path('app_register')}}">Zarejestruj się</a>
</div>
{% endblock %}
