{% extends 'base.html.twig' %}

{% block title %}Rejestracja{% endblock %}

{% block body %}
    <div class="my-5">
    <h1>Rejestracja</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {
             label: 'E-mail'
        }) }}
        {{ form_row(registrationForm.firstname, {
             label: 'Imię'
        }) }}
        {{ form_row(registrationForm.lastname, {
             label: 'Nazwisko'
        }) }}
        {{ form_row(registrationForm.plainPassword.first, {
            label: 'Hasło'
        }) }}
        {{ form_row(registrationForm.plainPassword.second, {
            label: 'Powtórz hasło'
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
             label: 'Zapoznałem się z <a target="_blank" href="'~path('app_terms')~'">regulaminem</a>.'
        }) }}

        <button type="submit" class="btn btn-secondary">Zarejestruj się</button>
    {{ form_end(registrationForm) }}
    </div>

    <div class="pt-4 border-top">
        <h3>Masz konto?</h3>
        <a href= "{{path('app_login')}}">Zaloguj się</a>
    </div>

{% endblock %}
