{% extends 'base.html.twig' %}

{% block title %}Rejestracja{% endblock %}

{% block body %}
    <h1>Rejestracja</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {
             label: 'E-mail'
        }) }}
        {{ form_row(registrationForm.firstname, {
             label: 'Imię'
        }) }}
        {{ form_row(registrationForm.lastname, {
             label: 'Nazwisko'
        }) }}
        {{ form_row(registrationForm.plainPassword.first, {
            label: 'Hasło'
        }) }}
        {{ form_row(registrationForm.plainPassword.second, {
            label: 'Powtórz hasło'
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
             label: 'Zapoznałem się z regulaminem'
        }) }}

        <button type="submit" class="btn">Zarejestruj się</button>
    {{ form_end(registrationForm) }}
{% endblock %}
