{% extends 'base.html.twig' %}

{% block body %}
    <div class="album py-5 ">
        <div class="product-container">
            <div class ="product-list-nav">
                {% block productheader %}

                {% endblock %}
            </div>
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-md-4 pt-4">
                    <div class="card mb-4 shadow-sm">
                        <div align="center" class="embed-responsive embed-responsive-16by9">
                            <a href ="{{path('app_product_detail',{'productname': product.name|lower,'id':product.id })}}">
                                <img class="img-fluid" src="{{ asset('build/images/' ~ product.getImagesFileName) }}"></img>
                            </a>
                        </div>
                        <div class="card-body">
                            <a href ="{{path('app_product_detail',{'productname': product.name|lower,'id':product.id })}}" class="text-reset text-decoration-none">
                            <h3>{{product.getName()}}</h3>
                            </a>
                                <div class="product-cart-body-info">
                                    <div>
                                        <h5> {{product.getPrice()}} zł </h5>
                                    </div>
                                    <div class="product-cart-body-info-opinion">
                                        {# <a class="href_non_dec" href="{{path('home')}}">Opinie (10)</a> #}
                                    </div>
                                </div> 
                                <i class="fa fa-thumbs-up">W magazynie: <small class="text-muted">{{product.getQuantity}}</small></i>&nbsp;
                                <div class="mt-3">
                                    <a class="btn btn-secondary" href ="{{path('app_product_detail',{'productname': product.name|lower,'id':product.id })}}">Szczegóły</a>
                                </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% block pagination %}
    {% endblock %}
{% endblock %}



