{% extends 'base.html.twig' %}

{% block body %}
    <div class="album py-5 ">
        <div class="product-container">
             <div class ="product-list-nav">
                {% block productheader %}

                {% endblock %}
            </div>
                <div class="card">
                    <div class="card-header">
                        <h3>{{product.getName()}}</h3>
                    </div>
                    <div align="left" class="embed-responsive embed-responsive-16by9">
                        <img class="img-fluid" src="{{ asset('build/images/' ~ product.getImagesFileName) }}"></img>
                    </div>
                    <div class="card-body">
                        <div class="product-cart-body-info">
                            <div>
                                <h5> {{product.getPrice()}} zł </h5>
                            </div>
                            <div class="product-cart-body-info-opinion">
                                <a class="href_non_dec" href="{{path('home')}}">Opinie (10)</a>
                            </div>
                        </div> 
                        <div>
                            <p>{{product.content}}</p>
                            <i class="fa fa-thumbs-up">W magazynie: <small class="text-muted">{{product.getQuantity}}</small></i>&nbsp;
                        </div>
                        
                            {{ form_start(addProductForm, {'attr': {'class':'row g-3'}})}}
                             <div class="col-auto">
                                Ilość
                                {{ form_widget(addProductForm.quantity, 
                                    {attr: {value: 1}}
                                    ) }}
                            </div>
                            <div class="col-auto">
                                <button title="Dodaj do koszyka" class="btn btn-secondary" type="submit">Dodaj do koszyka 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                    </svg>
                                </button>
                            </div>
                            {{ form_end(addProductForm)}}
                    </div>

                </div>
        </div>
    </div>

{% endblock %}


